* {
  margin: 0;
  font-family: "iA Writer Mono";
}
.{
  font-family: "iA Writer Mono";
}

body {
  font-family: "iA Writer Mono";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5f3f3;
  overflow-x: hidden;

}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
